:root {
    --primary-color: #f7941e;
    --text-color: #231f20;
    --back-color: #fafafa;
    --1-back-color: #f1f1f2;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* _________Header style_____ */
.header {
    background-color: var(--back-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 31px;
    margin-left: 433px;
}
.footer-right-link,
.footer-left-link,
.header-list-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link {
    display: block;
    padding: 47px 0;
    line-height: 1.22;
}
.header-list-link:hover,
.header-list-link:focus,
.footer-right-link:hover,
.footer-right-link:focus,
.footer-left-link:hover,
.footer-left-link:focus {
    color: var(--primary-color);
}
.logo {
    font-family: 'Homemade Apple', serif;
    line-height: 2.17;
    margin-left: 80px;
    animation: rubberBand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.header-button {
    margin-left: auto;
    display: block;
    margin-right: 34px;
    padding: 8px 22px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-button:hover,
.header-button:focus {
    background-color: var(--primary-color);
    color: #fff;
}
/* __________Hero style________ */
.hero-container {
    display: flex;
}

.content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-container,
.hero-img-container {
    width: 50%;
}
.content-wrap {
    max-width: 433px;
}

.hero {
    background-color: var(--1-back-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.23;
    margin-bottom: 36px;
}

.hero-text {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 60px;
}

.hero-button {
    background: var(--primary-color);
    border-radius: 5px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 19px 25px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}
/*________ About style________ */
.about {
    background-color: #f1f1f2;
}

.about-container {
    display: flex;
}

.about-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.about-text {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 35px;
}

.about-link {
    line-height: 1.34;
    text-transform: uppercase;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 18px 47px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-link:hover,
.about-link:focus {
    background-color: var(--primary-color);
    color: #fff;
}
/* ________BENEFITS style_______ */

.benefits {
    padding-top: 96px;
    padding-bottom: 137px;
    background-color: #ffffff;
}

.container-two {
    max-width: 1170px;
    margin: 0 auto;
}

.title,
.blog-main-title {
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 1.19;
    text-align: center;
}

.subtitle,
.blog-main-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 64px;
    line-height: 1.36;
    text-align: center;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-list-item {
    flex-basis: calc((100% - 90px) / 4);
    background: var(--back-color);
}

.benefits-list-item-wrap {
    padding: 24px;
}

.benefits-list-item-title {
    font-size: 18px;
    margin-bottom: 74px;
}
.benefits-list-item-link {
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits-list-item-link:hover,
.benefits-list-item-link:focus {
    color: var(--primary-color);
}
/* _________Get Ready section style_________ */
.ready-block .container-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.ready-block {
    background-color: var(--primary-color);
    padding: 75px 0;
}
.ready-list {
    display: flex;
}
.ready-subtitle-one,
.ready-subtitle-two {
    font-size: 32px;
    line-height: 1.41;
}
.ready-subtitle-one {
    font-weight: 700;
}
.ready-btn-one,
.ready-btn-two {
    text-transform: uppercase;
    padding: 19px 35px;
    display: block;
    border-radius: 5px;
}
.ready-btn-one {
    color: #fff;
    background-color: var(--text-color);
    border: 1px solid transparent;
}
.ready-btn-two {
    background-color: transparent;
    border: 1px solid #000;
}
.ready-list-item + .ready-list-item {
    margin-left: 16px;
}
/* ________Blog section_______ */
.blog {
    padding-top: 86px;
    padding-bottom: 80px;
}
.blog-main-article {
    background-color: var(--text-color);
    display: flex;
    margin-bottom: 40px;
}
.blog-wrap {
    color: #fff;
    padding-top: 60px;
    padding-left: 78px;
}
.blog-name {
    font-weight: 100;
    font-size: 14px;
    line-height: 1.41;
    margin-bottom: 36px;
}
.blog-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.21;
    margin-bottom: 60px;
    max-width: 460px;
}
.read {
    font-size: 14px;
    line-height: 1.41;
}
.blog-main-article .read {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blog-main-article .read:hover,
.blog-main-article .read:focus {
    color: var(--primary-color);
}
.blog-article-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.41;
    margin-bottom: 30px;
}
.blog-article-descr {
    line-height: 1.41;
    margin-bottom: 50px;
}
.blog-article {
    display: flex;
    gap: 38px;
}
.blog-article-list {
    padding: 48px 55px;
}
.blog-article-list {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
/* ________Footer style_______ */
.footer {
    padding-top: 115px;
    padding-bottom: 44px;
    background-color: var(--back-color);
}
.footer-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .logo {
    font-size: 18px;
    color: var(--primary-color);
    margin-right: 140px;
    margin-left: 140px;
}
.footer-left-nav,
.footer-right-nav {
    font-size: 14px;
    line-height: 1.41;
    font-weight: 700;
    display: flex;
    gap: 70px;
}
.footer-right-link,
.footer-left-link {
    display: block;
}
.footer-wraper {
    border-bottom: 1px solid #000;
    padding-bottom: 43px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 55px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 83px;
}
.social-icon,
.footer-social-list {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list:hover,
.footer-social-list:focus {
    fill: var(--primary-color);
}
.copyright {
    font-size: 14px;
    line-height: 1.41;
    text-align: center;
}
.copyright-year {
    margin-right: 14px;
}
